body{
  background-color: turquoise;
}

.App{
  background: #3f3160;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form input{
  background-color: rgb(27,112,137);
  width: 200px;
  height: 50px;
  border: 5px;
  padding: 0 20px;
  margin: 20px;
}
